<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collector.batch.domain.certificate.mapper.CertificateMapper">
    <insert id="insertNationalTechnical">
        <selectKey keyProperty="p.seq" resultType="String" order="BEFORE">
            SELECT CONCAT('NT', LPAD(IFNULL(SUBSTR(MAX(SEQ), 3)+1, 1), 8, '0')) FROM CERTIFICATE WHERE LEFT(SEQ, 2) = 'NT'
        </selectKey>
        INSERT INTO CERTIFICATE (
            SEQ
            , NAME
            , TYPE
            , AGENCY
        ) VALUES (
            #{p.seq}
            , #{p.name}
            , #{p.type}
            , #{p.agency}
        )
    </insert>

    <insert id="insertNationalProfessional">
        <selectKey keyProperty="p.seq" resultType="String" order="BEFORE">
            SELECT CONCAT('NP', LPAD(IFNULL(SUBSTR(MAX(SEQ), 3)+1, 1), 8, '0')) FROM CERTIFICATE WHERE LEFT(SEQ, 2) = 'NP'
        </selectKey>
        INSERT INTO CERTIFICATE (
            SEQ
            , NAME
            , GRADE
            , TYPE
            , AGENCY
        ) VALUES (
            #{p.seq}
            , #{p.name}
            , #{p.grade}
            , #{p.type}
            , #{p.agency}
        )
    </insert>
</mapper>